<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidFoodApp"
        tools:targetApi="31">
        <activity
            android:name=".ActivityAdmin.UpdateDessertAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityAdmin.DetailProductDessertAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityUser.CreateOrderActivity"
            android:exported="false"
            />
        <activity
            android:name=".ActivityAdmin.UpdateDrinkAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityAdmin.DetailProductDrinkAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityAdmin.UpdateFoodAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityUser.AddShipmentActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityAdmin.DetailProductFoodAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityUser.UserFeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityUser.ShipmentDetailPageActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityUser.OrderHistoryActivity"
            android:exported="false" /> <!-- Activity Giang start -->
        <activity
            android:name=".ActivityAdmin.DessertPageAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityAdmin.DrinkPageAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityAdmin.FoodPageAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityAdmin.HomeAdminActivity"
            android:exported="false" />
        <activity android:name=".ActivityAdmin.AddFoodAdminActivity" />
        <activity android:name=".ActivityAdmin.AddDrinkAdminActivity" />
        <activity android:name=".ActivityAdmin.AddDessertAdminActivity" />
        <activity
            android:name=".ActivityAdmin.RevenuePageAdminActivity"
            android:exported="false" /> <!-- Activity Giang end -->
        <activity
            android:name=".ActivityUser.DetailPageUserActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityUser.DessertPageUserActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityUser.DrinkPageUserActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityUser.FoodPageUserActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityUser.HomeUserActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false" /> <!-- RUN -->
        <activity
            android:name=".Activity.OpenPageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>